In [14]:
import pandas as pd
l_up=[]
l_down=[]
l_year=[]
for j in range(2003,2019):
    data = pd.read_csv(str(j)+".csv")
    l=[]
    for i in range(len(data.index)):
        if(data.loc[i,"Open"]>data.loc[i,"Close"]):
            v=-1
        else:
            v=1
        l.append(v)
    l_up.append(l.count(1))
    l_down.append(l.count(-1))
    l_year.append(j)
df = pd.DataFrame(l_year)
df.insert(1,"Up",l_up, True)
df.insert(2,"Down",l_down, True)

In [15]:
df

       0   Up  Down
0   2003  152   102
1   2004  138   115
2   2005  141   110
3   2006  150   100
4   2007  137   112
5   2008  115   130
6   2009  131   112
7   2010  131   121
8   2011  105   142
9   2012  120   130
10  2013  122   128
11  2014  114   130
12  2015  112   136
13  2016  105   142
14  2017  109   139
15  2018  115   131